<!doctype html >
<html data-bs-theme='dark' lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
</head>
<link rel="stylesheet" type="text/css"
      href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}"/>
<nav class="navbar"
     style="color: #c896ff; font-family:'Comic Sans MS',serif; background-color: #965afa; ">
    <a href="/" class="navbar-nav navbar-brand h4"
       style="text-decoration: None">My-To-Do-List</a>
    <a href="/" class="navbar-nav navbar-brand h4"
       style="text-decoration: None">Главная</a>
    <a href="/info" class="navbar-nav navbar-brand h4"
       style="text-decoration: None">Информация</a>

    <a href="#" class="navbar-nav navbar-brand h4 navbar-right"
       style="text-decoration: None">Зарегистрироваться</a>
    <a href="#" class="navbar-nav navbar-brand h4 navbar-right"
       style="text-decoration: None">Войти</a>

    {# <a href="#" class="navbar-nav navbar-brand h4 navbar-right" style="text-decoration: None">Профиль</a>#}

    <label class="navbar-right navbar-brand" style="">
        <input type="search" class="form-control" placeholder="Что ищем, док?">
    </label>
</nav>
{% block task_creator %}
{% endblock %}

{% block content %}
{% endblock %}


</html>