{% extends 'base.html' %}
{% from 'form_gen.html' import task_gen %}


{% block task_creator %}
    {{ super() }}
    <form action="" name="task" method="post"
          class="container" style="width: calc(100% - 50px); display: inline-block; ">

        {{ task_creator.csrf_token }}
        {{ task_creator.task_text.label }} {{ task_creator.task_text }} {{ task_creator.submit }}
        {% for error in (task_creator.task_text.errors, task_creator.submit.errors) %}
            {% if error %}
                <div>{{ error }}</div>
            {% endif %}
        {% endfor %}

    </form><br>
{% endblock %}
{% block content %}
    {{ super() }}
    <form action="" name="tasklist" method="post"
          class="container">
        {% for task in tasklist %}
            {{ task_gen(task) }}<br>
        {% endfor %}
    </form>
{% endblock %}


