{% extends 'base.html' %}
{% from 'form_gen.html' import line_form_gen %}


{% block task_creator %}
    {{ super() }}
    <form action="" name="task" method="post" class="container">

        {{ task_creator.csrf_token }}
        <div class="center-block">
            {{ task_creator.task_text.label }} {{ task_creator.task_text }} {{ task_creator.submit }}
        </div>
        {% for error in (task_creator.task_text.errors, task_creator.submit.errors) %}
            {% if error %}
                <div>{{ error }}</div>
            {% endif %}
        {% endfor %}

    </form>
{% endblock %}
{% block content %}
    {{ super() }}
    <form action="" method="post">
        {{ line_form_gen(task) }}
    </form>
{% endblock %}


